textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 400px;
}

.container1 input[type=text] {
    padding:5px 0px;
    margin:5px 5px 5px 0px;
    }
    
    
    
    input{
        border: 1px solid #1c97f3;
        width: 260px;
        height: 40px;
     margin-bottom:14px;
    }
    
    .deletes{
        background-color: #fd1200;
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }