@import url('https://fonts.googleapis.com/css?family=Muli');
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);


/*----------------- home.html --------------------------- */

.hero-header {
  color: #ffffff;
}

h2.hero-header {
  font-size: 30px!important;
}

h3.hero-header {
  font-size: 20px!important;
  margin-top: 5px;
}

.home-background {
  min-height: 60vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0)), url("../img/vegetables-min.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .card-content {
  height: 13rem;
  position: relative;
}

.added-by {
position: absolute;
bottom: 10px;
left: 55%;
}

.line-clamp-2 {
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
}

p .line-clamp-2 {
font-size: 18px;
}

.line-clamp-1 {
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
}


a.card-title {
  color:black;
}

.h5-card-title {
  font-family: 'muli', sans-serif;
  font-weight: 500;
  text-shadow: none;
  font-size: 28px;
  padding-bottom: 5px;
}

/* Credit to https://www.codegrepper.com/code-examples/css/background+blur+header+css on how to create a blurry header */
.blurry-header {
  backdrop-filter: blur(2px);
}

/*----------------- all_recipes.html -------------------- */

.container .row.row-all-recipes {
  margin-bottom: 40px;
}

.row.row-all-recipes {
  margin-top: 10px;
  margin-bottom: 20px;
}

.row-all-recipes {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*----------------- search.html ------------------------- */

/*----------------- view_recipes.html ------------------- */

.view-img {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

/*----------------- edit_recipes.html ------------------- */

/*----------------- add_recipes.html -------------------- */

/*----------------- profile.html ------------------------ */

/*----------------- login.html -------------------------- */

/*----------------- register.html ----------------------- */

/*----------------- base.html --------------------------- */

nav {
  background-color: #8dbf7f;
}

nav ul a {
  letter-spacing: 1px;
}

a.brand-logo {
  top: 12px;
}

h2.logo {
  font-size: 29px!important;
}

ul.sidenav {
  background-color: #95cb86;
  color: #ffffff;
  width: 250px;
}

#page-content {
  min-height: 83vh;
}

/*----------------- 404.html / 500.html ----------------- */

a, h1, h2, h3, h4, h5, h6 { 
    margin: 0; 
    font-family: 'Leckerli One', sans-serif;
    text-shadow: 0 2px rgba(0,0,0,.5);
  }  

option input p {
  font-family: 'muli', sans-serif;
  font-weight: 600;
}  

.green-background, .green-background:hover, .green-background:focus {
  background-color: #8dbf7f;
}

body {
    font-family: 'muli', sans-serif;
}  



.hr {
  border: 1px solid black;
}



li.active {
  background-color: #95cb86!important;
}












ul li a {
  color: #ffffff!important;
}





/* Search bar -----------------------------*/

i.search-bar, button.search-bar {
  margin-top: 23px;
  border-radius: 15px;
}

button.reset, button.reset:focus {
  outline: none;
  border: none;
  background-color: #ffffff;;
}
 
.search-row {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 1px grey;
}
/*-----------------------------------------*/


textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 400px;
}

.container1 input[type=text] {
    padding:5px 0px;
    margin:5px 5px 5px 0px;
    }
    
    .container2 input[type=text] {
        padding:5px 0px;
        margin:5px 5px 5px 0px;
        }    
    
    
    input{
        border: 1px solid #1c97f3;
        width: 260px;
        height: 40px;
        margin-bottom:14px;
    }
    
    .deletes{
        background-color: #fd1200;
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

/* Card image sizes for recipes */
.card .card-image img {
    height: 13rem;
    object-fit: cover;
}




.margin-top-7 {
  margin-top: 7px!important;
}

.margin-top-14 {
  margin-top: 14px!important;
}

.back-arrow {
  color: #8dbf7f;

}

.row-view-recipe {
  margin-bottom: 0px!important;
  margin-top: 20px;
}



.underline {
  text-decoration: underline;
  color:black;
}

.col-search {
    margin-top: 20px;
}






.heart-btn {
    left: 25px;
}

#modal1 {
  border-radius: 15px;
}

#heart-btn-view {
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-footer {
    background-color: #95cb86!important;
}



.margin-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-buttons {
  background-color: #2a2f40;
  font-family: 'muli', sans-serif;
  font-weight: 600;
}

.muli-font {
  font-family: 'muli', sans-serif;
  font-weight: 500;
  color: black;
  text-shadow: none;
}

.link {
  text-shadow: none;
  outline: none;
  color: black;
  text-decoration: underline;
}

.row-error {
  margin-top: 10vh;
}

.submit-buttons:hover {
  background-color: #2a2f40!important;
  color: #f76b39;
  cursor: pointer;
}

.pagination ul li a {
  font-family: 'muli', sans-serif;
  font-weight: 600;
  text-shadow: none;
  color: black!important;
}

.pagination ul li a:hover {
  text-shadow: 0 1px rgb(0 0 0 / 50%);
}

.radius {
  border-radius: 15px!important;
}
  
select {
  background-color: white;
}


ul li a:hover {
  text-shadow: 0 3px rgb(0 0 0 / 50%)
}

i.fa-github {
  padding-left: 10px;
  color: white;
}

i.fa-github:hover {
  text-shadow: 0 3px rgb(0 0 0 / 50%)
}

.col-profile {
    font-size: xx-large;
}

.img-profile {
    width: 5rem;
    margin-top: 20px;
}

.profile-name {
    padding-left: 15px;
    padding-right: 15px;
}

.submit-btn {
    margin: 15px;
}

.card-action-profile {
    height: 65.40px;
}

.responsive-img {
    max-height: 50vh;
}

.category-btns {
    border: 2px solid #4CAF50;
    border-radius: 15px;
    color: white;
    padding: 7px;
    background-color: #4CAF50;
    box-shadow: 1px 1px 10px 1px grey;
}



/* view_recipe */

/* -- Handdrawn border effect, credit from: https://freefrontend.com/css-border-examples/ -- */

.border-recipe-view {
    border:solid 5px #8dbf7f;
  }

.border-view {
    width:100%; 
    margin-top:5%; 
    text-align:center;
    display:inline-block;
    margin:5% auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:hsla(67, 95%, 95%, 1);
}

/* ---------------------------------- */

/* PRODUCT */
  /* Credit to https://freefrontend.com/css-product-cards/ for inspiring design ------------------*/
  
  /*product info */
  
  .h1-chopper {
    color: #8dbf7f;
    font-family: "muli", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 21px;
    display: inline-block;
  }
  
  
  .h2-chopper {
    color: #ffffff;
    font-family: "muli", sans-serif;
    margin-top: 10px;
    font-weight: 800;
    font-size: 14px;
  }
  
  .h3-chopper {
    color: #ffffff;
    font-family: "muli", sans-serif;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
  }

  .h4-chopper {
    display: inline-block;
    color: #ffffff;
    font-family: "muli", sans-serif;
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
  }

  .flashes {
    box-shadow: 1px 1px 10px 1px grey;
  }

 
  /*main card*/
  
  .card-chopper {
    display: flex;
    align-items: center;
    background: #252831 url("../img/salad-min.jpg")
      no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.4);
    margin-top: 2%;
    margin: 0;
    padding: 0;
  }

  .card-chopper:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid #252831;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .left-chopper {
    content: "";
    height: 160px;
    width: 99px;
    display: flex;
    align-items: center;
    background-color: #8dbf7f;
    margin-left: 25.2px;
    border-radius: 0% 50% 50% 0%;
    position: absolute;
    z-index: 5;
  }
  
  .left-chopper img {
    margin-left: -23px;
    margin-top: 60px;
    height: 80%;
    margin-bottom: 50px;
  }
  
  .right-chopper {
    content: "";
    height: 160px;
    width: 199px;
    background-color: #2a2f40;
    z-index: 3;
    margin-left: 54px;
  }
  
  .product-info {
    position: absolute;
    margin-left: 86px;
    height: 160px;
    width: 82.65px;
    z-index: 10;
  }

  .foot {
    color: #ffffff;
    font-family: "muli", sans-serif;
    margin-top: 5px;
    font-weight: 500;
    font-size: 10px;
    float: left;
    transition: 0.3s all ease;
  }
  
  .foot i:nth-child(1) {
    margin-left: 0;
    margin-right: 15px;
  }
  
  .foot:hover {
    color: #f76b39;
    cursor: pointer;
  }

  a.product-link {
    color: #ffffff;
    font-family: "muli", sans-serif;
    font-weight: 500;
  }

  a.product-link:hover {
    color: #f76b39;
    cursor: pointer;
  }

  /*-----------------------------------------------------------------------------------------*/

/* Media queries */
@media screen and (min-width: 600px) {
  .left-chopper {
    margin-left: 125.2px;
  }

  .right-chopper {
    margin-left: 154px;
  }

  h2.logo {
    font-size: 38px!important;
  }

  h2.hero-header {
    font-size: 45px!important;
  }

  h3.hero-header {
    font-size: 35px!important;
    margin-top: 5px;
  }
}


@media screen and (min-width: 992px) {
  h2.logo {
    padding-left: 20px;
  }

  .home-background {
    min-height: 60vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0)), url("../img/cookbook-min.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* PRODUCT */
  /* Credit to https://freefrontend.com/css-product-cards/ for inspiring design ------------*/

  /*product info */

  .h1-chopper {
    font-size: 22px;
  }

  .h3-chopper {
    margin-top: 84px;
    font-size: 20px;
  }

  .h2-chopper {
    font-size: 26px;
  }

  .h4-chopper {
    margin-top: 13px;
    font-size: 20px;
  }

  /*main card*/

  .left-chopper {
    height: 395px;
    width: 330px;
    margin-left: 93px;
  }


  .left-chopper img {
    margin-left: -88px;
    height: 100%;
  }

  .right-chopper {
    height: 395px;
    width: 550px;
    margin-left: 200px;
  }

  .product-name {
    margin-top: 120px;
  }

  .product-info {
    margin-left: 245px;
    height: 394px;
    width: 305px;
  }

  .foot {
    margin-top: 20px;
    margin-right: 50px;
    font-size: 22px;
  }
}

  /*----------------------------------------------------------------------------------------------------*/

  