.home-background {
    min-height: 60vh;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0)), url("../img/kutte.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
}


textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 400px;
}

.container1 input[type=text] {
    padding:5px 0px;
    margin:5px 5px 5px 0px;
    }
    
    .container2 input[type=text] {
        padding:5px 0px;
        margin:5px 5px 5px 0px;
        }    
    
    
    input{
        border: 1px solid #1c97f3;
        width: 260px;
        height: 40px;
        margin-bottom:14px;
    }
    
    .deletes{
        background-color: #fd1200;
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

#home_image {
    background-image: url("../img/vegetables2.jpg");
    background-repeat: no-repeat;  
    background-size: cover;
    height: 30vh;
}

/* Card image sizes for recipes */
.card .card-image img {
    height: 13rem;
    object-fit: cover;
}

.card .card-content {
    height: 13rem;
}

.col-search {
    margin-top: 20px;
}

#vegetable_chopper {
    width: 70%;
}

#delete_btn {
    right: 5px;
}

#delete-btn-view {
    left: 15px;
}

#edit_btn {
    right: 40px;
}

#edit-btn-view {
    left: 20px;
}

#heart_btn {
    left: 5px;
}

#heart-btn-view {
    left: 5px;
}

#rate_btn {
    left: 40px;
}

#rate-btn-view {
    left: 10px;
}

.created-by-view {
    float: right!important;
    width: auto!important;
}

.page-footer {
    background-color: #95cb86!important;
}

.col-profile {
    font-size: xx-large;
}

.img-profile {
    width: 5rem;
    margin-top: 20px;
}

.profile-name {
    padding-left: 15px;
    padding-right: 15px;
}

.submit-btn {
    margin: 15px;
}

.card-action-profile {
    height: 65.40px;
}

.responsive-img {
    max-height: 50vh;
}

.category-btns {
    border: 2px solid #4CAF50;
    border-radius: 25%;
    color: white;
    padding: 7px;
    background-color: #4CAF50;
}

/* Media queries */
  @media screen and (min-width: 992px) {
    .home-background {
        min-height: 60vh;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0)), url("../img/eat-cpp.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
    }
  }