{% extends "base.html" %}
{% block content %}

<h3 class="center-align">All Recipes</h3>

<!-- search bar -->
<div class="row">
  <form action="{{ url_for('search') }}" method="post" class="col s12">
    <div class="row center-align">
      <div class="input-field col s12 m8">
        <i class="fas fa-search prefix"></i>
        <input type="text" name="query" id="query" class="validate">
        <label for="query">Search</label>
      </div>
      <div class="col s12 m4 col-search">
        <a href="{{ url_for('all_recipes') }}"><i class="fas fa-times fa-7x red btn"></i></a>
        <button class="btn green" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>


<!-- Choose category buttons small, medium and large devices-->
<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('sort_category', category_name='Breakfast') }}" class="category-btns">Breakfast</a>
    <a href="{{ url_for('sort_category', category_name='Dinner') }}" class="category-btns">Dinner</a>
    <a href="{{ url_for('sort_category', category_name='Lunch') }}" class="category-btns">Lunch</a>
    <a href="{{ url_for('sort_category', category_name='Snack') }}" class="category-btns">Snack</a>
  </div>
</div>


{% if recipes|length > 0 %}
<div class="row">
  {% for recipe in recipes %}
  <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <!-- if image url exists, use that-->
          {% if recipe.recipe_img %}
          <img src="{{ recipe.recipe_img }}">
          <!-- else, use default image -->
          {% else %}
          <img src="{{ url_for('static', filename='img/vegetables1.jpg') }}" alt="Vegetables">
          {% endif %}
          {% if session.user|lower in recipe.liked_by|lower %}
          <form action="{{ url_for('remove_favorite_from_all', recipe_id=recipe._id) }}" method="POST">
            <button name="like" type="submit" id="heart_btn" class="btn tooltipped btn-floating halfway-fab red modal-trigger btn-small"
              data-position="bottom" data-tooltip="Remove from Favorites"><i class="fas fa-heart"></i></button>
            </form>
            <div class="col">
              {% if recipe.liked_by|length > 0 %}
              <h6>{{ recipe.liked_by|length }}</h6>
              {% endif %}
            </div>
          {% else %}
          <form action="{{ url_for('add_favorite_from_all', username=session['user'], recipe_id=recipe._id) }}" method="POST">
          <button name="like" type="submit" id="heart_btn" class="btn tooltipped btn-floating halfway-fab green modal-trigger btn-small"
            data-position="bottom" data-tooltip="Add to Favorites"><i class="fas fa-heart"></i></button>
          </form>
          <div class="col">
            {% if recipe.liked_by|length > 0 %}
            <h6>{{ recipe.liked_by|length }}</h6>
            {% endif %}
          </div>
          {% endif %}
          </div>
        <div class="card-content">
          <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="card-title">{{ recipe.recipe_name }}</a>
          <p>{{ recipe.recipe_description }}</p>
          <p>Difficulty: {{ recipe.difficulty_name }}</p>
          <p>Category: {{ recipe.category_name }}</p>
          <p><em>Added by: {{ recipe.created_by }}</em></p>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}

</div>
{% else %}
<h4>No Results Found</h4>
{% endif %}

<!-- Credit to https://gist.github.com/mozillazg/69fb40067ae6d80386e10e105e6803c9 for pagination -->

<div class="container center-align">
  {{ pagination.links }}
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ loop.index + (page - 1) * per_page }}</td>
          <td>{{ user }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}