{% extends "base.html" %}
{% block content %}

<main class="container">
    <h3 class="center-align">Edit Recipe</h3>

    <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" onsubmit="return validateForm()" class="radius col card-panel m12 l10 offset-l1">
        <!-- recipe category -->
        <div class="row">
            <div class="input-field col s12 m6 radius">
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Select a Category</option>
                    {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
        <!-- recipe name -->
        <div class="row">
            <div class="input-field col s12">
                <input name="recipe_name" id="recipe_name" pattern="^\S+[a-zA-Z0-9-_\s]+$" maxlength="100" value="{{ recipe.recipe_name }}" type="text"
                    class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!-- image url -->
        <div class="row">
            <div class="input-field col s12 tooltipped" data-position="top" data-tooltip='"Right click on the image you want to use --> "Copy image address"' required>
                <input name="recipe_img" id="recipe_img" type="url" value="{{ recipe.recipe_img }}" class="validate" pattern="https?://.+">
                <label for="recipe_img">Image url</label>
            </div>
        </div>
        <!-- recipe description -->
        <div class="row">
            <div class="input-field col s12">
                <textarea name="recipe_description" id="recipe_description" maxlength="55" class="validate_me">{{ recipe.recipe_description }}</textarea>
                <label class="textarea-label" for="recipe_description">Recipe Description</label>
            </div>
        </div>
        <!-- difficulty level -->
        <div class="row">
            <div class="input-field col s12 m6">
                <select id="difficulty_name" name="difficulty_name" class="validate" required>
                    <option value="" disabled>Select a Difficulty</option>
                    {% for difficulty in difficulties %}
                        {% if difficulty.difficulty_name == recipe.difficulty_name %}
                            <option value="{{ difficulty.difficulty_name }}" selected>{{ difficulty.difficulty_name }}</option>
                        {% else %}
                            <option value="{{ difficulty.difficulty_name }}">{{ difficulty.difficulty_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="difficulty_name">Difficulty Level</label>
            </div>
        </div>
        <!-- ingredients-->
        <div class="row">
            <div class="container1">
                <div>
                    {% for ingredient in recipe.ingredients %}
                    <div class="input-field col s12 m8 l8">
                        <input id="ingredients" name="ingredients" pattern="^\S+[a-zA-Z0-9-_\s-.]+$" type="text" maxlength="100" value="{{ ingredient }}"
                            class="validate" required>
                        <button type='button' class='delete btn-floating btn-small waves-effect waves-light red'><i
                                class='fas fa-minus'></i></button>
                        <label for="ingredients">Ingredients</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button id="add-ingredient" class="green-background radius muli-font add_form_field_ingredient btn waves-effect waves-light" type="button">Add Ingredient
                    <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
        <!-- instructions-->
        <div class="row">
            <div class="container2">
                {% for instruction in recipe.instructions %}
                <div class="input-field col s12 m8 l8">
                    <input id="instructions" name="instructions" pattern="^\S+[a-zA-Z0-9-_\s-.]+$" type="text" class="validate add-instruction-edit"
                        value="{{ instruction }}" required maxlength="200">
                    <button type='button' class='radius muli-font delete btn-floating btn-small waves-effect waves-light red'><i
                            class='fas fa-minus'></i></button>
                    <label for="instructions">Instructions</label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="green-background radius muli-font add_form_field_instruction btn waves-effect waves-light" type="button">Add Step
                    <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
        <!-- Edit button -->
        <div class="row">
            <div class="col s12 center-align">
                <hr><br>
                <!-- cancel button-->
                <a href="{{ url_for('home') }}" class="radius muli-font btn-large red">
                    Cancel <i class="fas fa-times-circle"></i>
                </a>
                <button class="radius muli-font submit-btn btn-large btn waves-effect waves-light green" type="submit">Save Changes
                    <i class="fas fa-save right"></i>
                </button>
            </div>
        </div>
    </form>
</main>

{% endblock %}