{% extends "base.html" %}
{% block content %}


    
    <div class="row">
        <div class="col valign-wrapper s12 offset-m2 m8 col-profile">
            <img class="img-profile" src="{{ url_for('static', filename='img/broccoli.png') }}" alt="broccoli"><h4 class="center-align profile-name">{{ username }}'s Profile</h4><img class="img-profile" src="{{ url_for('static', filename='img/broccoli.png') }}" alt="broccoli">
        </div>
    </div>

    <h3 class="center-align">Recipes You Have Created:</h3>

    {% if created_recipes|length > 0 %}
    <div class="row row-test">
      {% for recipe in real_recipes %}
        {% if session.user|lower == recipe.created_by|lower %}
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <!-- if image url exists, use that-->
                {% if recipe.recipe_img %}
                <img src="{{ recipe.recipe_img }}">
                <!-- else, use default image -->
                {% else %}
                <img src="{{ url_for('static', filename='img/vegetables1.jpg') }}" alt="Vegetables">
                {% endif %}
                <form action="{{ url_for('add_favorite', username=session['user'], recipe_id=recipe._id) }}"
                  method="POST">
                  <button type="submit" id="heart_btn"
                    class="btn tooltipped btn-floating halfway-fab green modal-trigger btn-small" data-position="bottom"
                    data-tooltip="Add to Favorites"><i class="fas fa-heart"></i></button>
                </form>
                <a href="" id="rate_btn" class="btn tooltipped btn-floating halfway-fab green modal-trigger btn-small"
                  data-position="bottom" data-tooltip="Give a Rating"><i class="fas fa-star"></i></a>
              </div>
  
              <div class="card-content">
                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
                  class="card-title">{{ recipe.recipe_name }}</a>
                <p>{{ recipe.recipe_description }}</p>
                <p>Difficulty: {{ recipe.difficulty_name }}</p>
                <p>Category: {{ recipe.category_name }}</p>
              </div>
              {% if session.user|lower == recipe.created_by|lower %}
              <div class="card-action center-align">
                
                  <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" id="delete-btn-view"
                    onclick="myFunction()" class="btn tooltipped btn-floating green btn-small delete-btn"
                    data-position="bottom" data-tooltip="Delete Recipe"><i class="fas fa-trash"></i></a>
                  <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" id="edit-btn-view"
                    class="btn tooltipped green btn-small" data-position="bottom"
                    data-tooltip="Edit Recipe"><i class="far fa-edit"></i></a>
                
              </div>
              {% else %}
              <div class="card-action card-action-profile">
                <p>Added by: <em>{{ recipe.created_by }}</em></p>
              </div>
              {% endif %}
            </div>
          </div>
        </a>
        {% else %}
          <h4>No Recipes Added</h4>
        {% endif %}
        
      {% endfor %}
    </div>
    {% else %}
    <h4>No Results Found</h4>
    {% endif %}

    <h3 class="center-align">Favorites:</h3>

    {% if recipes|length > 0 %}
    <div class="row row-test">
      {% for recipe in recipes %}
      <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <!-- if image url exists, use that-->
              {% if recipe.recipe_img %}
              <img src="{{ recipe.recipe_img }}">
              <!-- else, use default image -->
              {% else %}
              <img src="{{ url_for('static', filename='img/vegetables1.jpg') }}" alt="Vegetables">
              {% endif %}
              <form action="{{ url_for('add_favorite', username=session['user'], recipe_id=recipe._id) }}"
                method="POST">
                <button type="submit" id="heart_btn"
                  class="btn tooltipped btn-floating halfway-fab green modal-trigger btn-small" data-position="bottom"
                  data-tooltip="Add to Favorites"><i class="fas fa-heart"></i></button>
              </form>
              <a href="" id="rate_btn" class="btn tooltipped btn-floating halfway-fab green modal-trigger btn-small"
                data-position="bottom" data-tooltip="Give a Rating"><i class="fas fa-star"></i></a>
            </div>

            <div class="card-content">
              <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
                class="card-title">{{ recipe.recipe_name }}</a>
              <p>{{ recipe.recipe_description }}</p>
              <p>Difficulty: {{ recipe.difficulty_name }}</p>
              <p>Category: {{ recipe.category_name }}</p>
            </div>
            {% if session.user|lower == recipe.created_by|lower %}
            <div class="card-action center-align">
              <form action="{{ url_for('remove_favorite', recipe_id=recipe._id) }}" method="POST">
                <button type="submit" id="delete-btn-view" data-target="modal1"
                  class="btn tooltipped green modal-trigger btn-small delete-btn" data-position="bottom"
                  data-tooltip="Remove Recipe"><i class="fas fa-trash"></i></button>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" id="edit-btn-view"
                  class="btn tooltipped green btn-small" data-position="bottom"
                  data-tooltip="Edit Recipe"><i class="far fa-edit"></i></a>
              </form>
            </div>
            {% else %}
            <div class="card-action card-action-profile">
              <p>Added by: <em>{{ recipe.created_by }}</em></p>
            </div>
            {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <h4>No Favorites Added</h4>
    {% endif %}
    

    

{% endblock %}