{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <!-- FROM CI VIDEOS -->
    <div class="row">
        <form class="col s12 offset-m2 m8" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel teal">
                <!-- Username field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="username" name="username" type="text" minlength="5" 
                            maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Password field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key prefix"></i>
                        <input id="password" name="password" type="password" minlength="5" 
                            maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Submit button -->
                <div class="row">
                    <button type="submit" class="col s6 btn-large offset-s3">Register</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}