{% extends "base.html" %}
{% block content %}

<main class="container">
    <h3 class="center-align">Register</h3>

    <!-- PARTLY FROM CI VIDEOS -->
    <div class="row">
        <form class="col s12 offset-m2 m8" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel teal">
                <!-- Username field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="username" name="username" type="text" minlength="5" 
                            maxlength="20" pattern="^/S+[a-zA-Z0-9]{5,20}+$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Password field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key prefix"></i>
                        <input id="password" name="password" type="password" minlength="5" 
                            maxlength="20" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="col s12">
                        <p>Password must contain at least eight characters, at least one letter and one number</p>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="row">
                    <button type="submit" class="col s6 btn-large offset-s3">Register</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s6">
            <p class="center-align">
                Already Have an Account? <a href="{{ url_for('login') }}">Log In</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}