{% extends "base.html" %}
{% block content %}

<a href="{{ url_for('get_recipes') }}"><i class="far fa-arrow-alt-circle-left fa-3x"></i></a>


<div class="container">
  <!-- if image url exists, use that-->
  {% if recipe.recipe_img %}
  <img class="responsive-img" src="{{ recipe.recipe_img }}">
  <!-- else, use default image -->
  {% else %}
  <img class="responsive-img" src="{{ url_for('static', filename='img/vegetables1.jpg') }}" alt="Vegetables">
  {% endif %}
  <div class="row">

    {% if session.user|lower in recipe.liked_by|lower %}
    <form action="{{ url_for('remove_favorite_from_profile', recipe_id=recipe._id) }}" method="POST">
      <button type="submit" id="heart-btn-view" class="btn tooltipped btn-floating red btn-small"
        data-position="bottom" data-tooltip="Add to Favorites"><i class="fas fa-heart"></i></button>
        <div class="col">
          {% if recipe.liked_by|length > 0 %}
          <h6>{{ recipe.liked_by|length }}</h6>
          {% endif %}
        </div>
      {% if session.user|lower == recipe.created_by|lower %}
      <a href="#modal1" id="delete-btn-view"
        class="modal-trigger btn tooltipped btn-floating green btn-small delete-btn" data-position="bottom"
        data-tooltip="Delete Recipe"><i class="fas fa-trash"></i></a>
      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
            class="modal-close waves-effect waves-green btn-flat">Yes</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
        </div>
      </div>
      <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" id="edit-btn-view"
        class="btn tooltipped btn-floating green btn-small" data-position="bottom" data-tooltip="Edit Recipe"><i
          class="far fa-edit"></i></a>
  </div>
  {% endif %}
  </form>
  {% else %}
  <form action="{{ url_for('add_favorite_from_profile', username=session['user'], recipe_id=recipe._id) }}" method="POST">
    <button type="submit" id="heart-btn-view" class="btn tooltipped btn-floating green btn-small" data-position="bottom"
      data-tooltip="Add to Favorites"><i class="fas fa-heart"></i></button>
      <div class="col">
        {% if recipe.liked_by|length > 0 %}
        <h6>{{ recipe.liked_by|length }}</h6>
        {% endif %}
      </div>
    {% if session.user|lower == recipe.created_by|lower %}
    <a href="#modal1" id="delete-btn-view" class="modal-trigger btn tooltipped btn-floating green btn-small delete-btn"
      data-position="bottom" data-tooltip="Delete Recipe"><i class="fas fa-trash"></i></a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
          class="modal-close waves-effect waves-green btn-flat">Yes</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
      </div>
    </div>
    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" id="edit-btn-view"
      class="btn tooltipped btn-floating green btn-small" data-position="bottom" data-tooltip="Edit Recipe"><i
        class="far fa-edit"></i></a>
</div>
{% endif %}
    </form>
    {% endif %}

      
  <div class="row">
    <div class="col s3 created-by-view">
      <p></p><em>Added by: {{ recipe.created_by }}</em></p>
    </div>
  </div>
  <h3>{{ recipe.recipe_name }}</h3>
  </div>
  <div class="row">
    <h5>{{ recipe.recipe_description }}</h5>
  </div>
  <div class="row">
    <h6>Difficulty:</h6>
    <p>{{ recipe.difficulty_name }}</p>
  </div>
  <div class="row">
    <h6>Category:</h6>
    <p>{{ recipe.category_name }}</p>
  </div>
  <div class="row">
    <h5>Ingredients</h5>
    
    {% for ingredient in recipe.ingredients %}
    <li>{{ ingredient }}</li>
    {% endfor %}
    
  </div>
  <div class="row">
    <h5>Instructions</h5>
    <ol>
      {% for instruction in recipe.instructions %}
      <li>{{ instruction }}</li>
      {% endfor %}
    </ol>
  </div>


{% endblock %}